
.div-icono{
    width: 100%;
    display: flex;
} 
.icono {
    width: 100px;
    height: 100px;
}
.quienesimg {
    object-fit: contain;
}
.quienesfondo {
    background: rgb(247,255,147);
    background: linear-gradient(180deg, rgba(247,255,147,1) 25%, rgba(161,227,216,1) 44%, rgba(6,154,142,1) 78%);
    color: rgb(58, 56, 69);
}

.indexmain {
    background: rgb(247,255,147);
    background: linear-gradient(180deg, rgba(247,255,147,1) 25%, rgba(161,227,216,1) 44%, rgba(6,154,142,1) 78%);
    color: rgb(58, 56, 69);
}